/* Acessibilidade */

.acessibilidade {
    background: #f8f9fa;
    float: left;
    width: 100%;
    padding: 6px 0 6px 0;
}
.acessibilidade div {
    float: right;
}

.acessibilidade-button li:first-child a:before {content: '4'!important;}
.acessibilidade-button li:nth-child(2) a:before {content: '5'!important;}
.acessibilidade-button li:nth-child(3) a:before {content: '6'!important;}


.a-buttons{
    margin-right: 40px;

}
.acessibilidade ul {
    list-style: none;
    margin: 4px 0 0;
}
.acessibilidade li {
    float: left;
    margin-right: 16px;
}
.aacessibilidade a {
    font-size: 11px;
}
.acessibilidade a:before {
    float: right;
    margin: 5px 0 0 3px;
    padding: 1px 3px;
    color: #fff;
    line-height: 1.15;
    font-size: 11px;
    text-align: center;
    background: #024d9a;
    border-radius: 2px;
}
.acessibilidade li:first-child a:before { content: '1'; }
.acessibilidade li:nth-child(2) a:before { content: '2'; }
.acessibilidade li:nth-child(3) a:before { content: '3'; }
.acessibilidade li:nth-child(4) a:before { content: '4'; }
.acessibilidade li:nth-child(5) a:before { content: '5'; }

.a-img {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
}

.a-color-x { color: #fff !important; }

/*.dropdown-menu {
    color: #000000;
    background-color: #000000;
    border: 1px solid #f8f9fa;
}

.dropdown-item {
    color: #f8f9fa!important;
    background-color: #212529!important;
}*/
.a-bg-x { background: #fff !important; }

.a-color { color: #fff !important; text-decoration: underline !important; }
.a-bg { background: #000 !important; }
.a-color-bg { color: #fff !important; background: #000 !important; }
.a-form { color: #fff !important; background: #000 !important; border: 1px solid #fff !important; }

.a-svg { fill: #000; }
.a-svg-x { fill: #fff !important; }

/*
.a:hover{ background: #ff2d3b !important; }
*/

.a-buttons {
    position: relative;
}

.a-index {
    z-index: 0 !important;
}
.a-color:hover, .a-color:focus, .a-color:active{
    color:#d4e157!important;
}
.a-form:hover, .a-form:focus, .a-form:active{
    color:#d4e157!important;
}
.dropdown-item:focus, .dropdown-item:hover {
    background-color: rgb(0 123 255 / 11%);
}
/*
.list-group-item-action:focus, .list-group-item-action:hover {}
*/
/*dropdown-item
    background: #d4e157!important;
}*/
